<div style="display: flex; justify-content: center;">
    <ul class="liste" style="display: flex; justify-content: space-around; width: 50%; list-style: none; color: blue;">
        <li><a [routerLink]="['/']" style="text-decoration: none;" >Acceuil</a></li>
        <li><a [routerLink]="['/produits']" style="text-decoration: none;" >Produits</a></li>
        
        <li><a [routerLink]="['/auth/register']" style="text-decoration: none;" >Register</a></li>
        <li><a [routerLink]="['/auth/login']" style="text-decoration: none;" >Login</a></li>
        <li>Administration</li>
        <li style="margin-left:50px;"><button (click)="logout()" style="text-decoration: none;" >Logout</button></li>
    </ul>
</div>
<router-outlet></router-outlet>